#Container {
  width: 100%;
  height: calc(100vh - 20vh);
  display: flex;
  margin-top: 5em;
  gap: 2em;
  padding: 0 2em;
}

/* ---------------------------------------------------------------- */

#LeftBar {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-left: 1em;

  position: fixed;
  top: 10;
  left: 0;
}

.CardsComponent {
  display: flex;
  flex-direction: column;
  background: #262d34;
  border-radius: 2em;
  padding-bottom: 1em;
}

#friends {
  margin: 1em 0 0 2em;
  font-weight: bold;
  color: #fff;
}

#friends h2 {
  padding: 1em 0;
  font-size: 1.3em;
}

/* ---------------------------------------------------------------- */

#MiddleBar {
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-height: 100vh;
  overflow-y: auto;
  margin: 5em auto;
}

#MiddleBar .btn {
  background: #ff6934;
  color: #fff;
  font-weight: bold;
}

#SearchBar {
  background: rgba(38, 45, 52, 0.25);
  box-shadow: 0 8px 32px 0 rgba(88, 88, 88, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1em;

  margin-top: 5em;
  top: 0;
  position: fixed;
}

.searchInput input {
  width: 100em;
}

.imgContainer {
  background: #f9dfc0;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgContainer img {
  width: 2.5em;
  height: 2.5em;
}

#ContentCard {
  width: 100%;
  padding: 1em;
  border-radius: 1em;
}

#ContentCard .ContentCards {
  display: flex;
  flex-direction: column;
}

/* ---------------------------------------------------------------- */

#RightBar {
  width: 19%;

  background: #262d34;
  padding: 1em;
  border-radius: 1em;
  margin-right: 1em;

  position: fixed;
  top: 10;
  right: 0;
}
