#Container {
  width: 100%;
  height: calc(100vh + 20vh);
  display: flex;
  margin-top: 2em;
  gap: 2em;
  padding: 0 2em;
}

/* ---------------------------------------------------------------- */

#LeftBar {
  width: 23%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.CardsComponent {
  display: flex;
  flex-direction: column;
  background: #262d34;
  border-radius: 2em;
  padding-bottom: 1em;
}

#friends {
  margin: 1em 0 0 2em;
  font-weight: bold;
  color: #fff;
}

#friends h2 {
  padding: 1em 0;
  font-size: 1.3em;
}

/* ---------------------------------------------------------------- */

#MiddleBar {
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#MiddleBar .btn {
  background: #ff6934;
  color: #fff;
  font-weight: bold;
}

#SearchBar {
  background: #262d34;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1em;
  border-radius: 1em;
}

.searchInput input {
  width: 100em;
}

.imgContainer {
  background: #f9dfc0;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgContainer img {
  width: 2.5em;
  height: 2.5em;
}

#ContentCard {
  width: 100%;
  margin-top: 2em;
  padding: 1em;
  border-radius: 1em;
}

#ContentCard .ContentCards {
  display: flex;
  flex-direction: column;
}

/* ---------------------------------------------------------------- */

#RightBar {
  width: 22%;
}
