.ContentCardContainer {
  display: flex;
  margin-bottom: 1em;
  border-radius: 1em;
  padding: 1em 1em;
  background: #262d34;
}

.ContentCardContainer .ContainerImg {
  width: 15em;
  max-width: 25em;
}

.ContentCardContainer .ContainerImg img {
  border-radius: 1em;
}

.InfoCardContainer {
  margin-left: 1em;
  display: flex;
  flex-direction: column;
}

.InfoCardContainer h1 {
  font-weight: bold;
  font-size: 20px;
}

.Tags {
  display: flex;
  gap: 1em;
  width: 100%;
}

.Tags div {
  border-radius: 10px;
  font-weight: bolder;
  color: #fff;
  font-size: 1em;
  background: #2c353d;
  height: 2em;
  display: flex;
  justify-items: center;
  align-items: center;
}

.ImgContainer {
  margin-top: 3em;
  background: #fff;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ImgContainer img {
  width: 2em;
}

.UserContainer {
  display: flex;
  align-items: end;
}

.UserContainer .UserContent {
  margin: 0 10em 0 1em;
  display: flex;
  flex-direction: column;
}

.UserContainer .UserContent .UserName {
  font-weight: bold;
  color: white;
}

.UserContainer .Statistics {
  display: flex;
  gap: 1em;
}

.TitleAndLike {
  display: flex;
  gap: 1em;
  width: 100%;
  justify-content: space-between;
}

.InfoCardContainer .LikeContainer {
  width: 2em;
  background: #2c353d;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.ContainerBtn {
  display: flex;
  gap: 1em;
  margin-right: 2em;
}

.navbar div > img {
  width: 3em;
}

@media (max-width: 768px) {
  .ContainerImg {
    display: none;
  }

  .ContentCardContainer .ContainerImg img {
    display: none;
  }

  .InfoCardContainer .TitleAndLike h1 {
    font-size: 1em;
  }

  .Tags div {
    font-size: 0.8em;
  }

  .UserContainer .ImgContainer {
    display: none;
  }

  .ImgContainer img {
    width: 1.5em;
  }

  .UserContent {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .UserContainer .UserContent {
    font-size: 12px;
    width: 40%;
    margin-right: 0;
  }

  .Statistics {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    text-align: center;
  }
}
