@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@700&display=swap");

#mostrarBotao {
  background-color: #2c353d;
  color: #ffffff;
}

#searchContainer {
  display: flex;
  width: 100%;
}

#searchContainer .input {
  height: 3em;
  width: 100%;
}

#bottonContainer {
  width: 30em;
  display: flex;
  gap: 1em;
}

#headerComponent {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;

  border-radius: 0;
  border: transparent;
  background: #1e252b;
}

#mainUserContainer {
  display: flex;
  align-items: center;
  gap: 1em;
}

#userContainer {
  height: 3em;
  width: 3em;
  border: 2px solid #ea942c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

#userContainer .background {
  background: #f9dfc0;
  border-radius: 10px;
  height: 2.5em;
  width: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#userContainer img {
  height: 40px;
  width: 40px;
}

#userNameContainer {
  font-family: "Source Sans 3", sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
